{{#p-about}}
{{> ../head }}
{{> ../organisms/header-nav}}
{{> ../organisms/baner-default}}
{{> ../organisms/who-we-are}}
{{> ../organisms/about-us}}
{{> ../organisms/our-approach}}
{{> ../organisms/clients}}
{{> ../organisms/contacts}}
{{> ../molecules/gmap}}
{{> ../foot }}
{{/p-about}}