{{#p-news-single}}
    {{> ../head }}
    {{> ../organisms/header-nav}}
    {{> ../organisms/news-single}}
    {{> ../organisms/other-news}}
    {{> ../organisms/news-single-slider}}
    {{> ../organisms/contacts}}
    {{> ../molecules/gmap}}
    {{> ../foot }}
{{/p-news-single}}