{{#p-news}}
    {{> ../head }}
    {{> ../organisms/header-nav}}
    {{> ../organisms/baner-default}}
    {{> ../organisms/news}}
    {{> ../organisms/contacts}}
    {{> ../molecules/gmap}}
    {{> ../foot }}
{{/p-news}}