{{#p-portfolio}}
    {{> ../head }}
    {{> ../organisms/header-nav}}
    {{> ../organisms/baner-default}}
    {{> ../organisms/portfolio-block}}
    {{> ../organisms/contacts}}
    {{> ../molecules/gmap}}
    {{> ../foot }}
{{/p-portfolio}}