{{#p-project}}
{{> ../head }}
{{> ../organisms/header-nav}}
{{> ../organisms/project}}
{{> ../organisms/project-design}}
{{> ../organisms/wareframe}}
{{> ../organisms/project-desktop}}
{{> ../organisms/project-mobile}}
{{> ../organisms/our-works}}
{{> ../organisms/contacts}}
{{> ../molecules/gmap}}
{{> ../foot }}
{{/p-project}}