<header class="header-nav nav-down">
    <div class="bg-white container position-relative d-flex align-items-center justify-content-between flex-wrap flex-lg-nowrap">
        <a href="#"><img class="logotype" src="assets/img/logotype.svg" alt="img" /></a>
        <div class="header-nav__menu">
            <nav class="nav-bar">
                <input type="checkbox" id="drop-down-cbox" />
                <label for="drop-down-cbox">
          <div class="mob-menu-burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
                <ul class="main-nav small-caps d-flex align-items-start justify-content-lg-around m-0">
                    <li><a href="/simplify/build/portfolio">Our work</a></li>
                    <li><a href="/simplify/build/about">About us</a></li>
                    <li><a href="/simplify/build/news">News</a></li>
                    <li><a href="/simplify/build/contact-us">Contact us</a></li>
                </ul>
                <div class="header-nav__language d-block d-lg-none">
                    <a class="active" href="#ukr"><span>ukr</span></a>
                    <a href="#eng"><span>eng</span></a>
                </div>
            </nav>
        </div>
        <div class="header-nav__language d-lg-block d-none">
            <a class="active" href="#ukr"><span>ukr</span></a>
            <a href="#eng"><span>eng</span></a>
        </div>
    </div>
</header>
<div style="padding-bottom: 70px;"></div>