<div class="row approach-statistic__item">
    <div class="col-6 col-lg-3 align-items-center d-flex">
        <img class="approach-statistic__item__logo-img " src="assets/img/approach-projects-logo.png" alt="img" />
    </div>
    <div class="col-lg-5 d-lg-block d-none">
        <img class="approach-statistic__item__main-img" src="assets/img/about-approach-image.png" alt="img" />
    </div>

    <div class="col-6 col-lg-3 approach-statistic__item__counter-wrapper align-items-lg-end align-items-center d-flex">
        <div class="approach-statistic__item__counter-wrapper__item mb-4 mt-4">
            <p>More then</p>
            <h2>20+</h2>
            <span>Projects</span>
        </div>
    </div>
</div>
<div class="row approach-statistic__item">
    <div class="col-6 col-lg-3 align-items-center d-flex">
        <img class="approach-statistic__item__logo-img " src="assets/img/approach-works-logo.png" alt="img" />
    </div>
    <div class="col-lg-5 d-lg-block d-none">
        <img class="approach-statistic__item__main-img" src="assets/img/about-approach-image2.png" alt="img" />
    </div>

    <div class="col-6 col-lg-3 approach-statistic__item__counter-wrapper align-items-lg-end align-items-center d-flex">
        <div class="approach-statistic__item__counter-wrapper__item mb-4 mt-4">
            <p>More then</p>
            <h2>30+</h2>
            <span>Clients</span>
        </div>
    </div>
</div>