<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-1.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-2.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-3.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-4.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-5.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-6.png" />
</div>
<div class="client-block__brands-block__logo">
    <img src="assets/img/clients-7.png" />
</div>