<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-1.jpg);"></a>
    <div class="dot-with-line"></div>
</div>
<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-2.png);"></a>
    <div class="dot-with-line"></div>
</div>
<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-3.png);"></a>
    <div class="dot-with-line"></div>
</div>
<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-4.png);"></a>
    <div class="dot-with-line"></div>
</div>
<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-5.png);"></a>
    <div class="dot-with-line"></div>
</div>
<div class="news__wrapper   d-flex row">
    <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
        <div class="news__wrapper__content__description">
            <div>
                <h2>How to design ICO website</h2>
                <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center align-items-center">
                <span>May 22, 2018</span>
                <div class="see-more d-block d-lg-none">
                    <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
                </div>
            </div>
        </div>
        <div class="see-more d-none d-lg-block">
            <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
    </div>
    <a href="/news-single" class="news__wrapper__image col-12 col-lg-7 " style=" background-image: url(assets&#x2F;img&#x2F;news-6.png);"></a>
    <div class="dot-with-line"></div>
</div>