<div class="open-news__bb-default">
    <div class="container">
        <div class="open-news__bb-default__wrapper">
            <div class="open-news__bb-default__wrapper__internal">
                <div class="open-news__bb-default__wrapper__internal__image">
                    <img src="assets/img/open-news-page-image-1.jpg" alt="image" />
                </div>
                <div class="open-news__bb-default__wrapper__internal__description">
                    <p>'Design that works' is QubStudio tag line. The digital design company based in Lviv, Ukraine, currently employs 25 people, and its work is mostly on UX/UI design. QubStudio is the brainchild of Lyubomyr Koval, a web developer, and
                        Victor Fedyuk, a designer and artist. With a mutual passion for contemporary web design and a shared business sense, the friends decided to get together and fund the company over seven years ago. First there were two; now they
                        are 25 and only last year they moved into a bigger office to allow for more growth and creativity.</p>
                    <p>he hard working Ukrainian team knows that great things don't 'just happen.' On its website, it lists a code of rules, which it uses to achieve what its customers want: creative and effective user interfaces. The page opens with a quote
                        from contemporary Artist Andrew Hendrixson: 'Anyone who has ever made anything of importance was disciplined.'</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="open-news__bb-default">
    <div class="container">
        <div class="open-news__bb-default__wrapper">
            <div class="open-news__bb-default__wrapper__internal">
                <div class="open-news__bb-default__wrapper__internal__image">
                    <img src="assets/img/open-news-page-image-2.jpg" alt="image" />
                </div>
                <div class="open-news__bb-default__wrapper__internal__description">
                    <p>'Design that works' is QubStudio tag line. The digital design company based in Lviv, Ukraine, currently employs 25 people, and its work is mostly on UX/UI design. QubStudio is the brainchild of Lyubomyr Koval, a web developer, and
                        Victor Fedyuk, a designer and artist. With a mutual passion for contemporary web design and a shared business sense, the friends decided to get together and fund the company over seven years ago. First there were two; now they
                        are 25 and only last year they moved into a bigger office to allow for more growth and creativity.</p>
                    <p>he hard working Ukrainian team knows that great things don't 'just happen.' On its website, it lists a code of rules, which it uses to achieve what its customers want: creative and effective user interfaces. The page opens with a quote
                        from contemporary Artist Andrew Hendrixson: 'Anyone who has ever made anything of importance was disciplined.'</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="open-news__bb-default">
    <div class="container">
        <div class="open-news__bb-default__wrapper">
            <div class="open-news__bb-default__wrapper__internal">
                <div class="open-news__bb-default__wrapper__internal__image">
                    <img src="assets/img/open-news-page-image-3.jpg" alt="image" />
                </div>
                <div class="open-news__bb-default__wrapper__internal__description">
                    <p>'Design that works' is QubStudio tag line. The digital design company based in Lviv, Ukraine, currently employs 25 people, and its work is mostly on UX/UI design. QubStudio is the brainchild of Lyubomyr Koval, a web developer, and
                        Victor Fedyuk, a designer and artist. With a mutual passion for contemporary web design and a shared business sense, the friends decided to get together and fund the company over seven years ago. First there were two; now they
                        are 25 and only last year they moved into a bigger office to allow for more growth and creativity.</p>
                    <p>he hard working Ukrainian team knows that great things don't 'just happen.' On its website, it lists a code of rules, which it uses to achieve what its customers want: creative and effective user interfaces. The page opens with a quote
                        from contemporary Artist Andrew Hendrixson: 'Anyone who has ever made anything of importance was disciplined.'</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="open-news__bb-default">
    <div class="container">
        <div class="open-news__bb-default__wrapper">
            <div class="open-news__bb-default__wrapper__internal">
                <div class="open-news__bb-default__wrapper__internal__image">
                    <img src="assets/img/open-news-page-image-4.jpg" alt="image" />
                </div>
                <div class="open-news__bb-default__wrapper__internal__description">
                    <p>'Design that works' is QubStudio tag line. The digital design company based in Lviv, Ukraine, currently employs 25 people, and its work is mostly on UX/UI design. QubStudio is the brainchild of Lyubomyr Koval, a web developer, and
                        Victor Fedyuk, a designer and artist. With a mutual passion for contemporary web design and a shared business sense, the friends decided to get together and fund the company over seven years ago. First there were two; now they
                        are 25 and only last year they moved into a bigger office to allow for more growth and creativity.</p>
                    <p>he hard working Ukrainian team knows that great things don't 'just happen.' On its website, it lists a code of rules, which it uses to achieve what its customers want: creative and effective user interfaces. The page opens with a quote
                        from contemporary Artist Andrew Hendrixson: 'Anyone who has ever made anything of importance was disciplined.'</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>