<div class="our-works__slider__item d-flex flex-lg-row flex-column-reverse row p-0">
    <div class="col-12 col-lg-4 description align-items-center d-flex flex-lg-wrap">
        <div class="info text-right">
            <h1>Єкухня</h1>
            <a href="ekyhnya.com.ua">ekyhnya.com.ua</a>
        </div>
        <div class="our-works__meta-tags">
            <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
        </div>
    </div>
    <div class="col-12 col-lg-8 mask-container">
        <img data-name="Єкухня" src="assets/img/e-kitchen.png" alt="img" class="img">
    </div>
</div>
<div class="our-works__slider__item d-flex flex-lg-row flex-column-reverse row p-0">
    <div class="col-12 col-lg-4 description align-items-center d-flex flex-lg-wrap">
        <div class="info text-right">
            <h1>ГалРес</h1>
            <a href="iteria.com.ua/galres">iteria.com.ua/galres</a>
        </div>
        <div class="our-works__meta-tags">
            <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
        </div>
    </div>
    <div class="col-12 col-lg-8 mask-container">
        <img data-name="ГалРес" src="assets/img/galres.jpg" alt="img" class="img">
    </div>
</div>
<div class="our-works__slider__item d-flex flex-lg-row flex-column-reverse row p-0">
    <div class="col-12 col-lg-4 description align-items-center d-flex flex-lg-wrap">
        <div class="info text-right">
            <h1>Єкухня</h1>
            <a href="ekyhnya.com.ua">ekyhnya.com.ua</a>
        </div>
        <div class="our-works__meta-tags">
            <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
        </div>
    </div>
    <div class="col-12 col-lg-8 mask-container">
        <img data-name="Єкухня" src="assets/img/e-kitchen.png" alt="img" class="img">
    </div>
</div>