<div class="our-news__slider__item flex-lg-row flex-column">
    <div class="our-news__slider__item__img-block" style="background-image: url(assets/img/our-news-1.png)"></div>
    <div class="our-news__slider__item__description-block">
        <a href="#">
            <h3>How to design ICO website</h3>
        </a>
        <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
        <span>May 22, 2018</span>
    </div>
</div>
<div class="our-news__slider__item flex-lg-row flex-column">
    <div class="our-news__slider__item__img-block" style="background-image: url(assets/img/our-news-2.png)"></div>
    <div class="our-news__slider__item__description-block">
        <a href="#">
            <h3>Design Education: Our Experience</h3>
        </a>
        <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
        <span>January 17, 2018</span>
    </div>
</div>
<div class="our-news__slider__item flex-lg-row flex-column">
    <div class="our-news__slider__item__img-block" style="background-image: url(assets/img/our-news-1.png)"></div>
    <div class="our-news__slider__item__description-block">
        <a href="#">
            <h3>How to design ICO website</h3>
        </a>
        <p>ICO is quite a buzzword these days. But is it really a silver bullet and how do you actually organize and design good ICO website?</p>
        <span>May 22, 2018</span>
    </div>
</div>