<div class="bb-default">
    <div class="container">
        <div class="portfolio__block d-flex flex-lg-row flex-column-reverse row">
            <div class="col-12 col-lg-4 portfolio__block__description align-items-lg-center d-flex flex-column flex-lg-row">
                <div class="info text-right">
                    <h1>Єкухня</h1>
                    <a href="ekyhnya.com.ua" tabindex="0">ekyhnya.com.ua</a>
                </div>
                <div class="portfolio__block__description__meta-tags">
                    <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-8 mask-container">
                <a href="/project">
          <img data-name="Єкухня" src="assets/img/e-kitchen.png" alt="img" class="img">
        </a>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="bb-default">
    <div class="container">
        <div class="portfolio__block d-flex flex-lg-row flex-column-reverse row">
            <div class="col-12 col-lg-4 portfolio__block__description align-items-lg-center d-flex flex-column flex-lg-row">
                <div class="info text-right">
                    <h1>Violet Art</h1>
                    <a href="ekyhnya.com.ua" tabindex="0">ekyhnya.com.ua</a>
                </div>
                <div class="portfolio__block__description__meta-tags">
                    <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-8 mask-container">
                <a href="/project">
          <img data-name="Єкухня" src="assets/img/proj-2.jpg" alt="img" class="img">
        </a>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="bb-default">
    <div class="container">
        <div class="portfolio__block d-flex flex-lg-row flex-column-reverse row">
            <div class="col-12 col-lg-4 portfolio__block__description align-items-lg-center d-flex flex-column flex-lg-row">
                <div class="info text-right">
                    <h1>Prima Dent</h1>
                    <a href="ekyhnya.com.ua" tabindex="0">ekyhnya.com.ua</a>
                </div>
                <div class="portfolio__block__description__meta-tags">
                    <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-8 mask-container">
                <a href="/project">
          <img data-name="Єкухня" src="assets/img/proj-3.jpg" alt="img" class="img">
        </a>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>
<div class="bb-default">
    <div class="container">
        <div class="portfolio__block d-flex flex-lg-row flex-column-reverse row">
            <div class="col-12 col-lg-4 portfolio__block__description align-items-lg-center d-flex flex-column flex-lg-row">
                <div class="info text-right">
                    <h1>Total art school </h1>
                    <a href="ekyhnya.com.ua" tabindex="0">ekyhnya.com.ua</a>
                </div>
                <div class="portfolio__block__description__meta-tags">
                    <p>Tags: <span>FinTechredesign <br>Web Service</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-8 mask-container">
                <a href="/project">
          <img data-name="Єкухня" src="assets/img/proj-4.jpg" alt="img" class="img">
        </a>
            </div>
        </div>
    </div>
    <div class="dot-with-line"></div>
</div>