<div class="project-desktop__main">
    <div class="project-desktop__main__info col-12 col-lg-6">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <span><a href="ekukhnja.com.ua">ekukhnja.com.ua</a></span>
    </div>
    <div class="project-desktop__main__arrows d-none d-lg-block col-lg-2">
        <div class="project-desktop__main__arrows__left prev-slide d-none d-lg-block "></div>
        <div class="project-desktop__main__arrows__right next-slide d-none d-lg-block"></div>
    </div>
</div>