<div class="project-desktop__slider__image">
    <img src="assets/img/e-kitchen.png" alt="image" class="d-lg-block d-none" />
    <img class="d-lg-none d-block" src="assets/img/mobile-slider-image.png" alt="image" />
</div>
<div class="project-desktop__slider__image">
    <img src="assets/img/e-kitchen.png" alt="image" class="d-lg-block d-none" />
    <img class="d-lg-none d-block" src="assets/img/mobile-slider-image.png" alt="image" />
</div>
<div class="project-desktop__slider__image">
    <img src="assets/img/e-kitchen.png" alt="image" class="d-lg-block d-none" />
    <img class="d-lg-none d-block" src="assets/img/mobile-slider-image.png" alt="image" />
</div>
<div class="project-desktop__slider__image">
    <img src="assets/img/e-kitchen.png" alt="image" class="d-lg-block d-none" />
    <img class="d-lg-none d-block" src="assets/img/mobile-slider-image.png" alt="image" />
</div>