<div class="col-12 col-lg-5">
    <div class="who-we-are__global-block__default">
        <h2>Experience Design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="col-12 col-lg-5">
    <div class="who-we-are__global-block__default">
        <h2>Branding</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="col-12 col-lg-5">
    <div class="who-we-are__global-block__default">
        <h2>Development</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>