{{#atm-image}}
  {{#link-wrapper}}<a href="{{link-href}}" {{#link-class}}class="{{link-class}}"{{/link-class}} {{#data-attribute}}data-{{name}}="{{value}}"{{/data-attribute}}>{{/link-wrapper}}
    <img src="{{img-src}}" alt="{{img-alt}}" {{#class}}class="{{class}}"{{/class}} {{#usemap}}usemap="#{{usemap}}"{{/usemap}} {{#width}}width="{{width}}"{{/width}} {{#height}}height="{{height}}"{{/height}}>
  {{#link-wrapper}}</a>{{/link-wrapper}}
{{/atm-image}}