{{#mol-baner-content-default}}
{{#title}}
<div class="news-baner__main__title" style="background-image: url(assets/img/{{image-bg}})">
	<h2>{{{title}}}</h2>
</div>
{{/title}}
{{/mol-baner-content-default}}