{{#mol-copyright}}
{{#value}}
<div class="container position-relative">
    <div class="footer__copyright {{copyright-circle-class}}">
        <p>{{{value}}}</p>
    </div>
</div>
{{/value}}
{{/mol-copyright}}