{{#mol-gmap}}
<div class="over-hidden">
    <div id="{{map-class}}" data-lat="49.8545268" data-lng="24.0325665">

    </div>
    <footer class="footer ">
        {{> ../molecules/copyright}}
    </footer>
</div>
{{/mol-gmap}}