{{#mol-home-baner-content}}
	{{#items}}
	<div class="home-baner__main__item" style="background-image: url(assets/img/main-baner.jpg)">
		<h2>{{{title-1}}}</h2>
		<h3>{{{title-2}}}</h3>
	</div>
	{{/items}}
{{/mol-home-baner-content}}