{{#mol-news-item}}
<div class="news__wrapper {{red-circle-before}} {{red-circle-after}} d-flex row">
  <div class="news__wrapper__content flex-column d-flex col-12  col-lg-4 position-relative">
    <div class="news__wrapper__content__description">
      {{#title}}
      <div>
        <h2>{{title}}</h2>
        {{#description}} <p>{{description}}</p>{{/description}}
      </div>
      {{/title}}
      <div class="d-flex justify-content-between align-items-lg-center align-items-center">
        <span>{{date}}</span>
        <div class="see-more d-block d-lg-none">
          <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
        </div>
      </div>
    </div>
    <div class="see-more d-none d-lg-block">
      <a class="see-more__btn" href="/news-single">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
    </div>
  </div>
  {{#image}}<a href="/news-single" class="news__wrapper__image col-12 col-lg-7 "
    style=" background-image: url({{image}});"></a>{{/image}}
  
</div>
{{/mol-news-item}}