{{#mol-news-single-block}}
{{#description}}
<div class="open-news__bb-default">
    <div class="container">
        <div class="open-news__bb-default__wrapper">
            <div class="open-news__bb-default__wrapper__internal">
                {{#image}}
                <div class="open-news__bb-default__wrapper__internal__image">
                    <img src="{{{image}}}" alt="image" />
                </div>
                {{/image}}
                <div class="open-news__bb-default__wrapper__internal__description">{{{description}}}</div>
            </div>
        </div>
    </div>
    
</div>
{{/description}}
{{/mol-news-single-block}}