{{#mol-project-info-description}}
{{#description}}
<div class="project__info__project__description col-12 col-lg-5">
    {{{description}}}
    {{#url}}<span><a href="{{{url}}}">{{{url}}}</a></span>{{/url}}
</div>
{{/description}}
{{/mol-project-info-description}}