{{#mol-project-desctop-slider-item}}
{{#desc-img}}
<div class="project-desktop__slider__image">
    <img src="{{{desc-img}}}" alt="image" class="d-lg-block d-none" />
    {{#mob-img}}<img class="d-lg-none d-block" src="{{{mob-img}}}" alt="image" />{{/mob-img}}
</div>
{{/desc-img}}
{{/mol-project-desctop-slider-item}}