{{#mol-project-mobile-content}}
{{#description}}
<div class="project-mobile__info">
    {{{description}}}
    {{#url}}<span><a href="{{{url}}}">{{{url}}}</a></span>{{/url}}
</div>
{{#img}}
<div class="project-mobile__image">
    <img src="{{{img}}}" alt="image" />
</div>
{{/img}}
{{/description}}
{{/mol-project-mobile-content}}