{{#mol-project-desctop-info}}
{{#description}}
<div class="project-desktop__main">
    <div class="project-desktop__main__info col-12 col-lg-6">
        {{{description}}}
        {{#url}}<span><a href="{{{url}}}">{{{url}}}</a></span>{{/url}}
    </div>
    <div class="project-desktop__main__arrows d-none d-lg-block col-lg-2">
        <div class="project-desktop__main__arrows__left prev-slide d-none d-lg-block "></div>
        <div class="project-desktop__main__arrows__right next-slide d-none d-lg-block"></div>
    </div>
</div>
{{/description}}
{{/mol-project-desctop-info}}