{{#mol-who-we-are-block}}
{{#title}}
<div class="col-12 col-lg-5">
  <div class="who-we-are__global-block__default">
    <h2>{{title}}</h2>
    {{#description}}<p>{{{description}}}</p>{{/description}}
  </div>
</div>
{{/title}}
{{/mol-who-we-are-block}}