{{#atm-select}}
<select {{#name}}name="{{name}}"{{/name}} {{#id}}id="{{id}}"{{/id}} {{#class}}class="{{class}}"{{/class}}>
  {{#options}}
  <option value="{{value}}">{{text}}</option>
  {{/options}}
</select>
{{/atm-select}}