{{#org-baner-default}}
<section class="news-baner">
	<div class="news-baner__main" style="background-image: url(assets/img/{{{banner-img}}})">
		<div class="container">
			{{> ../molecules/baner-content-default}}
		</div>
	</div>
</section>
{{/org-baner-default}}