{{#org-clients}}
<section class="client-block">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
        {{> ../molecules/title-h2-default}}
        <div class="clients-navigation-arrows d-flex align-items-center">
            <div class="clients-block-left-arrow"></div>
            <div class="clients-block-right-arrow"></div>
        </div>
    </div>
    
    <div class="client-block__brands-block justify-content-lg-between">
      {{> ../molecules/client-item}}
    </div>
  </div>
</section>
{{/org-clients}}