{{#org-contacts}}
<section class="contact-us {{left-circle-class}} {{contact-red-circle-after}}">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    <div class="contact-us__main">
      <div class="contact-us__main__block p-0 col-12 col-lg-6">
        <div class="contact-us__main__block__info">
          <div class="pb-4">
            <h4>
              <img src="assets/img/email-icon.png" />
              Email:
            </h4>
            <a href="mailto:box@qubstudio.com">box@qubstudio.com</a>
          </div>
          <div class="pb-4">
            <h4>
              <img src="assets/img/phone-icon.png" />
              Phone:
            </h4>
            <a href="tel:+38(097)649-70-67">+38(097)649-70-67 Project Team</a>
          </div>
          <div>
            <h4>
              <img src="assets/img/location-icon.png" />
              Address:
            </h4>
            <a href="javascript:void(0)">Zavodska 31, Lviv, Ukraine</a>
          </div>
        </div>
      </div>
      <div class="contact-us__main__form-container p-0 col-12 col-lg-6">
        <form id="contact" action="/" class="contact-us__main__form-container__content">
          <label class="form-group">
            <span class="form-label" for="name">Name:</span>
            <input type="text" class="form-control" id="name" name="name" tabindex="1" required>
          </label>
          <label class="form-group">
            <span class="form-label" for="mail">Mail:</span>
            <input type="text" class="form-control" id="mail" name="name" tabindex="1" required>
          </label>
          <div class="form-label ml-4" for="message">Message:</div>
          <div class="form-group message-box">
            <textarea rows="5" cols="50" name="message" class="form-control" id="message" tabindex="4"
              required></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-start-order">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{/org-contacts}}