{{#org-news}}
<section class="news">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    <div class="no-dots">
      {{> ../molecules/news-item}}
    </div>
  </div>
</section>
{{/org-news}}