{{#org-news-single-slider}}
{{#slide}}
<div class="news-slide__item">
	<div class="other-news__info-block d-flex row  justify-content-lg-between flex-column-reverse flex-lg-row">
		{{#description-content}}
		<div class="col-12 col-lg-5 min-h-description-news flex-column d-flex justify-content-lg-between">
			<div class="other-news__info-block__description">
				{{#description-title}}<h3>{{description-title}}</h3>{{/description-title}}
				{{{description-content}}}
				{{#description-date}}<span>{{description-date}}</span>{{/description-date}}
			</div>
			<div class="see-more justify-content-start">
				<a class="see-more__btn" href="/news">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
			</div>
		</div>
		{{/description-content}}
		<div class="col-lg-6 col-12">
			<div class="other-news__info-block__slider">
				{{> ../molecules/other-news-slide}}
			</div>
		</div>
	</div>
</div>
{{/slide}}
{{/org-news-single-slider}}