{{#org-news-single}}
<section class="open-news">
  
  <div class="centered-circle"></div>
  <div class="bottom-circle"></div>
  <div class="container mb-lg-4 mb-0">
    {{> ../molecules/title-h2-default}}
  </div>
  <div>
    {{> ../molecules/news-single-block}}
  </div>
</section>
{{/org-news-single}}