{{#org-our-works}}
<section class="our-works {{class-no-border}}">
  <div class="container">
    <div class="our-works__top-navigation row align-items-center">
      <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
        {{> ../molecules/title-h2-default}}
      </div>
      <div class="col-lg-8 d-none justify-content-between align-items-center d-lg-flex">
        <p class="arrows our-works-left-arrow d-flex align-items-center m-0 "><span class="prev-slide"></span><span
            class="prev-work m-0 ml-2"></span></p>
        <p class="arrows our-works-right-arrow d-flex align-items-center m-0 flex-row-reverse"><span
            class="next-slide"></span><span class="next-work m-0 mr-2"></span></p>
      </div>
    </div>
    <div class="our-works__slider row d-flex">
      {{> ../molecules/our-works-slide}}
    </div>
    <div class="see-more {{class-custom}}">
      <a class="see-more__btn" href="#">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
    </div>
  </div>  
</section>
{{/org-our-works}}