{{#org-our-approach}}
<section class="our-approach">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    <div class="row">
      {{> ../molecules/approach-description}}
      <div class="our-approach__wrapper col-12 col-sm-12 col-lg-12 mt-3">
        {{> ../molecules/our-approach-item}}
      </div>
    </div>
  </div>  
</section>
{{/org-our-approach}}