{{#org-project-desktop}}
<section class="project-desktop">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    {{> ../molecules/project-desctop-info}}
    <div class="project-desktop__slider">
      {{> ../molecules/project-desctop-slider-item}}
    </div>
  </div>
  <div class="dot-with-line"></div>
</section>
{{/org-project-desktop}}