{{#org-project-design}}
<section class="project-design">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    {{> ../molecules/project-design-block}}
  </div>
  <div class="dot-with-line"></div>
</section>
{{/org-project-design}}