{{#org-who-we-are}}
<section class="who-we-are">
  <div class="container">
    {{> ../molecules/title-h2-default}}
    <div class="who-we-are__global-block">
      {{> ../molecules/who-we-are-block}}
    </div>
    <div class="see-more">
      <a class="see-more__btn" href="#">More here <img class="ml-1" src="assets/img/more-btn.png"></a>
    </div>
  </div>
</section>
{{/org-who-we-are}}